    <!DOCTYPE html>
<html>
    <head>
        <base href="/IntranetRPI/" />
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <!-- Bootstrap -->
        <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Bootstrap/css/LogIn.css" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
<div class="row" style="background-color:#02214A; color:#FFFFFF;">
    <div class="col-md-1">
        <img class="img-circle" data-src="holder.js/100x100" alt="100x100" style="width: 100px; height: 100px;" src="/Images/RPILogo.jpg">
     </div>
    <div class="col-md-9">
        <h4>Registro de la Propiedad Intelectual</h4>
        <h5>Sistema de Gestion de Propiedad Intelectual</h5>
    </div>
</div>

        <div class="container">
            @RenderBody()
        </div>

        <!-- Included JS Files (Compressed) -->
@*        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>*@
        <script src="/Scripts/jquery-1.7.1.min.js"></script>
        <script src="/Bootstrap/js/bootstrap.min.js"></script>

    </body>
    
</html>