<div class="bigContainer">
    <div class="panel-primary">
        <div class="panel-heading">
            <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E-Registro</a>
                </div>
                <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maestros<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/eRegistro/Admin#/Paises/">Paises</a></li>
                            <li><a href="/eRegistro/Admin#/Estatus/">Estatus</a></li>
                            <li><a href="/eRegistro/Admin#/Eventos/">Actividades (Eventos)</a></li>
                            <li><a href="/eRegistro/Admin#/Niza/">Clasificacion de Niza</a></li>
                            <li><a href="/eRegistro/Admin#/Vienna/">Clasificacion de Viena</a></li>
                            <li><a href="/eRegistro/Admin#/Leyes/">Leyes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sistema de Seguridad<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/eRegistro/Admin#/Roles/">Roles</a></li>
                        <li><a href="/eRegistro/Admin#/Usuarios/">Usuarios</a></li>
                        <li><a href="/eRegistro/Admin#/eConsulta/">Usuarios del sistema de consultas externas</a></li>
                    </ul>
                    </li>
                </ul>
                </div><!--/.nav-collapse -->
            </div>
            </div>
        </div>
    </div>
</div>
